<p class="contrib-title">
    {{org_name}}<a href="https://www.google.com/#safe=on&q={{org_name}}" target="_blank"><i class="fa fa-search"></i></a><span class="percent">- {{percent}}</span>
</p>
<p class="contrib-total">
    {{currency amount}}
</p>
<div class="percent-holder">
    <div class="democrats percent-item" data-label="Democrats" data-percentage="{{democrats}}"></div>
    <div class="republicans percent-item" data-label="Republicans" data-percentage="{{republicans}}"></div>
</div>
<p>
    Total {{currency total}}
</p>
<p> 
    Lobbying {{currency lobbying}}
</p>