<p class="contrib-title">
    {{id}}<a href="https://www.google.com/#safe=on&q={{id}}" target="_blank"><i class="fa fa-search"></i></a><span class="percent">: {{formatPercent proportion}}</span>
</p>
<p class="contrib-total">
    Gave to {{firstlast}}: {{currency amount}}
</p>
<div class="percent-holder">
    <div class="democrats percent-item" data-label="Democrats" data-percentage="{{democrats}}"></div>
    <div class="republicans percent-item" data-label="Republicans" data-percentage="{{republicans}}"></div>
</div>
<p>
    Total Contributons: {{currency total}}
</p>
<p> 
    Spent on Lobbying: {{currency lobbying}}
</p>