<div class="col-xs-12">
    <div class="basics row">
        <div class="item">
            <img class="party-image" src="/web/images/{{partyImage party}}">
            <span class="name">{{firstlast}}</span>
            <i class="gender fa fa-{{getGender gender}}"></i>
            <span class="state">{{summary.state}}</span>
        </div>
        <div class="item">
            <i class="phone fa fa-phone-square"></i><span>{{phone}}</span>
        </div>
        <div class="item">
            <a href="{{website}}" target="_blank">{{website}}</a>
        </div>
        <div class="item">
            <a href="https://www.facebook.com/{{facebook_id}}" target="_blank"><i class="fa fa-facebook-square"></i></a>
        </div>
        <div class="item">
            <a href="https://twitter.com/{{twitter_id}}" target="_blank"><i class="fa fa-twitter-square"></i></a>
        </div>

    </div>
</div>
<div class="col-xs-12">
    <div class="row">
        <div class="col-xs-6">

            <h3>Top Contributors</h3>
            <p>Total From Top Contibutions: {{currency contributorsTotal}}<i 
                data-trigger="focus"
                class="fa fa-question-circle"
                data-toggle="popover"
                title="Top Contributors"
                data-content="This is a distribution amoung the top contributors to {{firstlast}}. Hover over the pieces to reveal the backer."
                tabindex="0"
                ></i></p>
            <div class="contrib-pie">
            </div>
        </div>
        <div class="col-xs-6">

            <h3>Top Industries</h3>
            <p>Total From Top Industries: {{currency industriesTotal}}<i 
                data-trigger="focus"
                class="fa fa-question-circle"
                data-toggle="popover"
                title="Top Industries"
                data-content="This is a distribution amoung the top industries that contribute to {{firstlast}}. Hover over the pieces to reveal the industry."
                tabindex="0"></i></p>
            <div class="industry-pie">
            </div>
        </div>
    </div>
</div>


