<div class="col-xs-12 col-md-10 col-md-offset-1 leg-upper">
    <div class="basics row">
        <div class="col-xs-8">
            <div class="row">
                <div class="legislator-holder  col-xs-4 col-md-3">
                    <div class="legislator">
                        <img class="{{party}}" src="{{profileImage}}"  onError="this.src='/web/images/profile.png';">
                    </div>
                </div>
                <div class="col-xs-7 col-md-8">
                    <div class="row">
                        <div class="col-xs-2 party {{party}}">
                            {{party}}
                        </div>
                        <div class="col-xs-10 name">
                            {{firstlast}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-7 website">
                            <i class="fa fa-at"></i>{{website}}
                        </div>
                        <div class="col-xs-5 phone">
                            <i class="fa fa-phone"></i>{{phone}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-4 text-right assumed">
            Assumed Office in {{first_elected}}
        </div>
    </div>
</div>
<div class="col-xs-12 col-md-10 col-md-offset-1 leg-lower">
    <div class="row">
        <div class="col-xs-6">

            <h3>Top Contributors ( total: {{currency contributorsTotal}} )<i 
                data-trigger="focus"
                class="fa fa-question-circle"
                data-toggle="popover"
                title="Top Contributors"
                data-content="This is a distribution amoung the top contributors to {{firstlast}}. Hover over the pieces to reveal the backer."
                tabindex="0"
                ></i></h3>
            <div class="contrib-bar">
            </div>
            <div class="contrib-details">
            </div>
        </div>
        <div class="col-xs-6">

            <h3>Top Industries (total: {{currency industriesTotal}} )<i 
                data-trigger="focus"
                class="fa fa-question-circle"
                data-toggle="popover"
                title="Top Industries"
                data-content="This is a distribution amoung the top industries that contribute to {{firstlast}}. Hover over the pieces to reveal the industry."
                tabindex="0"></i></h3>
            <div class="industry-bar">
            </div>
            <div class="industry-details">
            </div>
        </div>
    </div>
</div>


