<div class="row">
    <div class="col-xs-12 col-md-10 col-md-offset-1">
        <div class="row">
            <div class="col-xs-12 text-right">
                <a href="#chooseState" class="back-button btn btn-primary">
                    <i class="fa  fa-angle-double-left"></i>Back
                </a>
            </div>
        </div>
        <div class="row text-center">
            <h3>{{state}}</h3>
        </div>
        <div class="row legislators-list">
            {{#each legislators}}
                <div class="legislator-holder col-xs-2">
                    <a href="#legislator/{{../stateId}}/{{firstlast}}">
                        <div class="legislator">
                            <img class="{{party}}" src="{{profileImage}}">
                            <span>
                            {{shortName}}
                            </span>
                        </div>
                    </a>
                </div>
            {{/each}}
        </div>
    </div>
</div>