<div class="col-xs-5">
    <p class="basics">
        <img class="party-image" src="/web/images/{{partyImage party}}">
        <span class="name">{{firstlast}}</span>
        <i class="gender fa fa-{{getGender gender}}"></i>
        <span class="state">{{summary.state}}</span>
    </p>
    <div class="contact-info">
        <p class="header">
            Contact
        </p>
        <ul>
            {{item 'Phone:' phone}}
            <li>
                <span class="label">Website</span>
                <span class="value">
                    <a href="{{website}}" target="_blank">{{website}}</a>
                </span>
            </li>
            <li>
                <a href="https://www.facebook.com/{{facebook_id}}" target="_blank">
                    Facebook Page
                </a>
            </li>
            <li>
                <a href="https://twitter.com/{{twitter_id}}" target="_blank">
                    Twitter Page
                </a>
            </li>

        </ul>
    </div>
    <div class="assets">
        
    <div class="finance-range"></div>

    <p>Cash On Hand: {{currency summary.cash}}</p>
    <p>Debt: {{currency summary.debt}}</p>
    <p>First Elected: {{summary.firstElected}}</p>
    <p>Spent: {{currency spent}}</p>
</div>
<div class="col-xs-7">
    <div class="row">
        <div class="col-xs-6">

            <h3>Contributors</h3>
            <p>Total Contibutions: {{currency contributorsTotal}}</p>
            <div class="contrib-pie">
            </div>
        </div>
        <div class="col-xs-6">

            <p>Total In Industries: {{currency industriesTotal}}</p>
            <div class="industry-pie">
            </div>
        </div>
    </div>
</div>


