<div class="col-xs-3 disease-target-item">
    <h3>
        {{disease}} - {{target}}
    </h3>
    <button class="btn-link more" data-items="{{moreInfo}}">
        More Info
    </button>

    <div class="select" data-disease="{{disease}}" data-target="{{target}}">
        Select
    </div>
</div>